.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width: 400px;
    height: 470px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.box1 img {
    width: 300px;
    height: 350px;
}

.block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
